@using Zidium.UserAccount.Models.ComponentTreeDetails
@model EventsDetailsModel

<div id="object-details-caption">
    События

    <a href="#" id="update-panel-link" class="text-muted" title="Обновить данные">
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</div>

<hr class="object-details-hr" />

<div id="metric-details-container" class="tree-details-container">
    <div class="tree-details-menu">
        <div class="tree-details-menu-item" data-group="events-history">
            <a href="#" title="История">
                <span class="glyphicon glyphicon-signal"></span>
            </a>
        </div>
    </div>

    <div class="tree-details-main-area">
        <div class="tree-details-content collapse" data-group="events-history">
            <div class="tree-details-content-caption">История</div>
            <div class="smart-block" data-url="@Url.Action("EventsDetailsHistory", new { id = Model.Id })"></div>
        </div>
    </div>
</div>