@model Zidium.UserAccount.Models.Controls.BigColorBlockModel
<div class="col-sm-6" style="margin-bottom: 15px;">
    <a class="bigColorBlock-link" href="@Model.Url">
        <div class="bigColorBlock" style="background-color: @Model.GetBgColor()">
            <span class="bigColorBlock-count">@Model.Value</span>
            <div class="bigColorBlock-text"> &mdash; @Model.GetText()</div>
        </div>
    </a>
</div>

