@using Zidium.Core.AccountsDb
@model Component
@{
    var component = Model;
    var components = new List<Component>();
    while (component!=null)
    {
        components.Add(component);
        component = component.Parent;
        if (component==null || component.IsRoot)
        {
            break;
        }
    }
    components.Reverse();
    var isfirst = true;
    foreach (var componentObj in components)
    {
        if (!isfirst)
        {
            <span style="margin-left: 2px; margin-right: 2px">/</span>
        }
        isfirst = false;
        @Html.ActionLink(componentObj.DisplayName, "Show", "Components", new{id=componentObj.Id}, null)
    }
}