@model Zidium.UserAccount.Models.ComponentBreadCrumbsModel

@{
    var isFirst = true;

    foreach (var element in Model.Elements)
    {
        if (!isFirst)
        {
            <span style="margin-left: 2px; margin-right: 2px">/</span>
        }
        isFirst = false;
        @Html.ActionLink(element.Name, "Show", "Components", new { id = element.Id }, null)
    }
}