@using Zidium.Storage
@model Zidium.Storage.EventImportance?
@{
    string cssClass = "label label-default";
    if (Model == EventImportance.Alarm)
    {
        cssClass = "label label-danger";
    }
    else if (Model == EventImportance.Warning)
    {
        cssClass = "label label-warning";
    }
    else if (Model == EventImportance.Success)
    {
        cssClass = "label label-success";
    }
}
<span class="@cssClass" style="font-size: inherit; font-weight: normal;">@Model</span>
