@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.Controls.KeyValueTableModel

@if (!string.IsNullOrEmpty(Model.AddRowButtonTitle))
{
    <a href="#" class="btn btn-default" onclick="addKeyValueRow('@Model.CollectionName');return false;">@Model.AddRowButtonTitle</a>
}

<table class="simpleTable keyValueTable" id="@Model.CollectionName">
    <tr>
        <th style="width: 25%">Ключ</th>
        <th style="width: 75%">Значение</th>
        <th style="width: 20px;"></th>
    </tr>
    @foreach (var row in Model.Rows)
    {
        <text>
            @Html.KeyValueRow(row)
        </text>
    }
</table>