@model Zidium.Core.AccountsDb.Metric
@Html.Partial("~/Views/Controls/ComponentBreadCrumbs.cshtml", Model.Component)
<span style="margin-left: 2px; margin-right: 2px">/</span>
@Html.ActionLink(Model.MetricType.DisplayName, "Show", "Metrics", new { id = Model.Id }, null)
