@model Zidium.UserAccount.Models.Controls.OneLineSausageCharModel
<table class="zi-one-line-sausage-char-table">
    <tr>
        @foreach (var interval in Model.ResultIntervals)
        {
            <td data-fromTime="@interval.FromTime" data-toTime="@interval.ToTime" style="background-color: @interval.Color; width: @Model.GetIntervalWidth(interval)"></td>
        }
    </tr>
</table>

