@model Zidium.UserAccount.Models.Controls.RequiredLabelModel
<label for="@Model.For" class="control-label @Model.CssClass">
    <span>@Model.Title</span>&nbsp;<sup><span class="text-danger glyphicon glyphicon-asterisk" style="font-size: 7px;"></span></sup>
</label>