@model Zidium.UserAccount.Models.Controls.SimpleBarCharModel
<div class="zi-simple-bar-wrapper">
    <div class="zi-simple-bar-container">
        @for (int i = 0; i < Model.Items.Length; i++)
        {
            var item = Model.Items[i];
            <div class="zi-simple-bar-item-wrapper" style="width: @Model.ColumnWidth">
                <a class="zi-simple-bar-item-link" href="#">
                    <div class="zi-simple-bar-item-container">
                        <div class="zi-simple-bar-item-column" style="height: @Model.GetColumnHeight(item.Value)">
                            <div class="zi-simple-bar-item-title">@item.GetTitle()</div>
                        </div>
                        <div class="zi-simple-bar-item-footer"></div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

