@{
    ViewBag.Title = "Восстановление пароля";
    ViewBag.NoMenu = true;
}

<legend>@ViewBag.Title</legend>

<p>На привязанный email отправлено письмо с одноразовой ссылкой на смену пароля.</p>
<p>Если письмо не пришло, обратитесь к администратору системы.</p>
