@{
    ViewBag.Title = "Пароль успешно изменён";
}

<legend>@ViewBag.Title</legend>

<p>
    Пароль успешно изменён.
    Теперь вы можете попробовать
    @Html.ActionLink("войти в систему", "Logon", "Account")
</p>

