@model string

@{
    ViewBag.Title = "Восстановление пароля";
    ViewBag.NoMenu = true;
}

<legend>@ViewBag.Title</legend>

<p>На вашу почту <b>@Model</b> отправлено письмо с одноразовой ссылкой на смену пароля</p>
