<link href="~/Content/smart.css" rel="stylesheet" />

<legend>TEST</legend>

<div class="smart-row">
    <div class="smart-col-labels">
        <label class="control-label">
            Label
        </label>
    </div>

    <div class="smart-col-fields">
        <div>
            <input type="text" class="form-control" />
        </div>
        <div>
            @Html.ValidationMessage("xxx", "Пожалуйста, заполните название")
        </div>
    </div>
</div>

<div class="smart-row">
    <div class="smart-col-labels">
        <label class="control-label">
            Label 2
        </label>
    </div>

    <div class="smart-col-fields">
        <div>
            <p class="form-control-static">
                Text
            </p>
        </div>
    </div>
</div>

<div class="smart-row">
    <div class="smart-col-labels">
    </div>

    <div class="smart-col-fields">
        <div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" />
                    Checkbox
                </label>
            </div>
        </div>
    </div>
</div>