**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/Dockerfile*
/Release
/Tests
/DatabaseUpdater
/Migration
**/*.bat
**/*.ps1
LICENSE
README.md