###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

Docker/zidium.sh text eol=lf