@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.Users.ChangePasswordModel
@{
    ViewBag.Title = "Изменить пароль";
    var form = Html.GetFormBuilder(Model);
    var group = form.Group("x");
}

<form method="post" action="@Url.Action("ChangePasswordDialog")" class="smart-block-form">
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger">@Model.ErrorMessage</div>
    }
    @Html.HiddenFor(x=>x.UserId)
    @Html.HiddenFor(x => x.UserName)
    <div class="smart-container">
        @{
            form.GroupFor(x => x.UserName, "Пользователь")
                .Paragraph(Model.UserName)
                .Render();
        }
        @{
            form.GroupFor(x => x.Password, "Новый пароль")
                .TextBox()
                .Render();
        }
        @{
            form.GroupFor(x => x.PasswordConfirm, "Повторите новый пароль")
                .TextBox()
                .Render();
        }
        @{
            form.Group("Submit")
                .Label("")
                .Control(@<div style="padding-top: 20px;">
                             <button type="submit" class="btn btn-primary smart-button">Сохранить</button>
                             <button type="button" class="btn btn-default smart-button" data-dismiss="modal">Отмена</button>
                         </div>)
                .Render();
        }
    </div>
</form>
