@model Zidium.UserAccount.Models.Users.ChangePasswordEndModel

@{
    ViewBag.Title = "Изменить пароль";
}

<div class="alert alert-success">
    Пароль пользователя @Model.UserName успешно изменен
</div>
<div style="text-align: right">
    <button type="button" class="btn btn-default smart-button" data-dismiss="modal">ОК</button>
</div>