@using GridMvc.Html
@using GridMvc.Sorting
@using Zidium.UserAccount.Helpers 

@model Zidium.UserAccount.Models.Users.IndexModel

@{
    ViewBag.Title = "Пользователи";
    ViewBag.ActiveMenuItems = "Manage,Users";
}

@Html.Partial("_PageTitle")

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            @Html.ActionLink("Добавить", "Add", "Users", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

@Html.Grid(Model.Users).Columns(columns =>
{
    columns.Add(m => m.Login).Titled("Имя").RenderValueAs(
        m => Html.HtmlBlock(t => Html.ActionLink(m.Name, "Show", new { id = m.Id }))).Encoded(false).Sanitized(false)
        .SortInitialDirection(GridSortDirection.Ascending);
    columns.Add(m => m.EMail).Titled("EMail");
    columns.Add(m => m.Role).Titled("Роль");

    columns.Add().Titled(string.Empty).RenderValueAs(m => Html.HtmlBlock(@<text>
        <a href='@Url.Action("Delete", new { id = m.Id })' onclick="ModalBtnClick(this, event);" title="Удалить пользователя" class="text-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
    </text>)).Encoded(false).Sanitized(false).Css("text-center").SetWidth(30);
}).Selectable(false)
