.css-treeview ul,
.css-treeview li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.css-treeview li {
    margin-bottom: 5px;
}

.css-treeview input {
    display: none;
}

.css-treeview {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .css-treeview input + label ~ ul {
        margin: 5px 0 0 20px;
    }

    .css-treeview input ~ ul {
        display: none;
    }

    .css-treeview label[for] {
        cursor: pointer;
    }

    .css-treeview input:disabled + label {
        cursor: default;
        opacity: .6;
    }

    .css-treeview input:checked:not(:disabled) ~ ul {
        display: block;
    }

    .css-treeview label[for] {
        background: url("/Content/css-treeview.png") no-repeat;
        background-position: 0 2px;
    }

    .css-treeview label {
        display: table-cell;
        height: 16px;
        vertical-align: top;
        min-width: 16px;
        content: "";
        vertical-align: top;
    }

    .css-treeview input:checked + label {
        background-position: -16px 3px;
    }
