/* Форма */
.smart-block-form {
    
}

/* Контейнер */
.smart-block {
    
}

/* Кнопка */
.smart-block-button {
    
}

/* Серый фон загрузки данных */
.smart-wait-div {
    background-color: #fff;
    z-index: 100;
    position: absolute;
    opacity: 0.5;
    background-image: url('/content/icons/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center center;
}