@model Zidium.UserAccount.Models.EventTypesMiniListModel

@if (Model.IsLimited)
{
    <p><i>Показаны только первые 100 записей</i></p>
}

<table>
    <tbody>
        @foreach (var eventType in Model.EventTypes)
        {
            <tr>
                <td class="text-nowrap" style="padding-bottom: 10px; padding-right: 15px;">@eventType.Code</td>
                <td class="text-nowrap" style="padding-bottom: 10px;">
                    <a data-id='@eventType.Id.ToString()' style="cursor: pointer;">@eventType.DisplayName</a>
                </td>
            </tr>
        }
    </tbody>
</table>