@model Zidium.UserAccount.Models.GuiExamplesModels.ReloadedSampleModel
<div class="tiles-box">
    <div class="tiles-box-content">
        <p>Счетчик @Model.Id</p>
        <h2>@Model.Value</h2>
    </div>
</div>