@{
    ViewBag.Title = "Пример использования GUI";
}

<p class="submenu-title">@ViewBag.Title</p>
<br />

<p>@Html.ActionLink("Tiles", "Tiles")</p>
<p>@Html.ActionLink("ReloadedTiles", "ReloadedTiles")</p>




