.smart-container {
    display: table;
    width: 100%;
}

.smart-row {
    display: table-row;
}

    .smart-row:after {
        clear: both;
    }

    .smart-row.collapse {
        display: none;
    }

        .smart-row.collapse.in {
            display: table-row;
        }

    .smart-row div.alert {
        margin-bottom: 0px;
    }

.smart-col-labels {
    min-height: 1px;
    padding-bottom: 15px;
    min-width: 200px;
    display: table-cell;
    vertical-align: top;
    padding-right: 15px;
}

    .smart-col-labels label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: right;
        width: 100%;
    }

.smart-col-fields {
    min-height: 1px;
    display: table-cell;
    vertical-align: top;
    width: 100%;
    padding-right: 15px;
}

.smart-row:not(:last-child) .smart-col-fields {
    padding-bottom: 15px;
}

.smart-col-fields:before {
    clear: both;
    content: " ";
}

.smart-col-fields:after {
    clear: both;
    content: " ";
    display: table;
}

.smart-col-fields:last-child {
    padding-right: 0px;
}

.smart-col-fields > div.smart-subcol {
    padding-left: 0px;
    max-width: 600px;
    float: left;
    width: 100%;
    margin-right: 10px;
}

    .smart-col-fields > div.smart-subcol:after {
        clear: both;
    }

.smart-col-fields .checkbox {
    min-height: 1px;
    padding-top: 0px;
    margin-top: 9px;
    margin-bottom: 0;
}

    .smart-col-fields .checkbox input[type="checkbox"] {
        top: -4px;
    }

.smart-col-fixed > div.smart-subcol {
    max-width: 230px;
    min-width: 230px;
}

.smart-col-fields .input-group {
    width: 100%;
}

.smart-col-fields label {
    /*display: block;*/
}

.smart-row p.form-control-static {
    padding-top: 7px;
    padding-bottom: 0px;
    min-height: 1px;
}

.smart-row p.field-validation-error {
    padding-top: 7px;
    padding-bottom: 0px;
    min-height: 1px;
    margin-bottom: 0px;
    float: left;
}

.smart-row div.validation-summary-errors > ul {
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
}

.smart-col-empty {
    min-height: 0px;
    padding: 0px !important;
}

.smart-button {
    min-width: 100px;
    vertical-align: baseline;
}

.smart-col-filter {
    width: auto;
}

/*.smart-row:last-child .smart-col-fields:last-child {
    padding-bottom: 0px;
}*/

@media (max-width: 599px) {
    /*.smart-container {
        padding-bottom: 20px;
    }*/

    .smart-row p.form-control-static {
        padding-top: 0px;
    }

    .smart-col-labels {
        display: block;
        padding-bottom: 5px;
    }

        .smart-col-labels label {
            padding-top: 0px;
            text-align: left;
        }

    .smart-col-empty {
        display: none;
    }

    .smart-col-fields {
        display: block;
        padding-bottom: 20px;
        padding-right: 0px;
    }

        .smart-col-fields > div.smart-subcol {
            padding-left: 0px;
            min-width: initial !important;
            max-width: initial !important;
        }

    .smart-col-fixed > div:first-child {
        max-width: initial;
    }
}
