@model Zidium.UserAccount.Models.ErrorModel
           
@{
    ViewBag.Title = "Ошибка";
    if (Model.IsAjax)
    {
        Layout = null;
    }
}

@Html.Error(Model.Exception)

<p class="top10px">Нажмите здесь, чтобы <a href="/">вернуться на главную страницу</a></p>