@{
    var exception = ViewBag.CommonErrorException as Exception;
}
<div class="alert alert-danger collapse" role="alert" id="panel-error">
    <button type="button" class="close" aria-label="Close" id="button-close-error">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>
        К сожалению, произошла ошибка <span id="error-number"></span>:
        <a data-toggle="collapse" href="#error-details" class="alert-link" id="error-message">
        </a>
    </p>
    <p id="error-details" class="collapse text-prewrap text-wordbreak"></p>
</div>
@if (exception != null)
{
    <text>
        @Html.Error(exception)
    </text>
}