@model Zidium.UserAccount.Models.Errors.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

@Html.Partial("_PageTitle")

<div class="alert alert-danger">
    @Model.Exception.Message
</div>

@if (ViewBag.IsChildAction != true)
{
    <p class="top10px">Нажмите здесь, чтобы <a href="/">вернуться на главную страницу</a></p>
}