@model Zidium.UserAccount.Models.MetricData.MetricGraphDataModel

<div id="graph" style="width: 100%;">
</div>

@if (Model.GraphData != null)
{
    var min = Model.Min;
    var max = Model.Max;

    <script>
            $(function () {
                Highcharts.setOptions({
                    lang: {
                        resetZoom: 'Сброс масштаба',
                        resetZoomTitle: 'Вернуть масштаб 1:1'
                    }
                });

                $('#graph').highcharts({
                    chart: {
                        type: 'areaspline',
                        zoomType: 'x',
                        resetZoomButton: {
                            position: {
                                x: 0,
                                y: 0
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Минимум: @min, максимум: @max, среднее: @Model.AvgAsString',
                        //floating: true,
                        margin: 10,
                        style: {
                            fontSize: 14
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            enabled: false,
                            text: 'Дата',
                            style: { 'fontSize': '14px', 'font-weight': 'normal', 'color': 'black', 'font-family': "'Helvetica Neue', Helvetica, Arial, sans-serif" }
                        },
                        dateTimeLabelFormats: {
                            millisecond: '%d.%m.%Y %H:%M:%S',
                            second: '%d.%m.%Y %H:%M:%S',
                            minute: '%d.%m.%Y %H:%M',
                            hour: '%d.%m.%Y, %H ч',
                            day: '%d.%m.%Y',
                            week: '%d.%m.%Y',
                            month: '%m.%Y',
                            year: '%Y'
                        },
                        labels: {
                            rotation: -90,
                            style: { 'fontSize': '14px', 'font-weight': 'normal', 'color': 'black', 'font-family': "'Helvetica Neue', Helvetica, Arial, sans-serif" }
                        }
                    },
                    yAxis: {
                        title: {
                            enabled: false,
                            text: '@Model.Name',
                            style: { 'fontSize': '14px', 'font-weight': 'normal', 'color': 'black', 'font-family': "'Helvetica Neue', Helvetica, Arial, sans-serif" }
                        },
                        labels: {
                            style: { 'fontSize': '14px', 'font-weight': 'normal', 'color': 'black', 'font-family': "'Helvetica Neue', Helvetica, Arial, sans-serif" }
                        },
                        min: '@min',
                        max: '@max'
                    },
                    series: [
                        {
                            data: [
                                @Html.Raw(Model.JsGraphData)
                            ],
                            animation: false,
                            fillOpacity: 0.0,
                            dataLabels: {
                                enabled: true,
                                inside: true,
                                verticalAlign: 'top',
                                style: { 'fontSize': '14px', 'font-family': "'Helvetica Neue', Helvetica, Arial, sans-serif" },
                                color: 'black'
                            }
                        }
                    ],
                    tooltip: {
                        animation: false,
                        shared: true,
                        useHTML: true,
                        headerFormat: 'Дата: <b>{point.key}</b><br>',
                        pointFormat: '@Model.Name: <b>{point.y}</b>',
                        xDateFormat: '%d.%m.%Y %H:%M:%S'
                    },
                    plotOptions: {
                        areaspline: {
                            color: '#31708f',
                            states: {
                                hover: {
                                    halo: false,
                                    lineWidthPlus: 0
                                }
                            }
                        }
                    }

                });
            });
    </script>
}
