<?xml version="1.0" encoding="utf-8" ?>
<root>
  <access accountName="" 
          secretKey=""
          waitOnErrorSeconds="60"/>
  <logs>
    <webLog disable="true" 
            threads="3"
            batchBytes="4096" 
            sendPeriodSeconds="5"
            reloadConfigsPeriodSeconds="300"
            queueBytes="50 000 000"
            attemps="100"/>
    <fileLog disable="true"
             encoding="utf-8"
             filePath="#appDir\Logs\#date\ZidiumTests_#date_#hour.txt"
             layout="#datetime #level #componentName #tag #message #properties"
             queueBytes="50 000 000"
             maxArchiveFiles="1"
             deleteOldFileOnStartup="false" />
    <consoleLog disable="false" 
                layout="#datetime #level #componentName #tag #message #properties"/>
    <internalLog disable="true"
             encoding="utf-8"
             filePath="#appDir\Logs\#date\internal.txt"
             minlevel="debug"
             deleteOldFileOnStartup="true" />
    <customLog disable="false"/>
    <rules>
      <component systemName="*" writeTo="web,file,console,custom" disable="false" minlevel="trace" maxLevel="fatal"/>
    </rules>
  </logs>
  <events>
    <eventManager disable="false" 
                  sendPeriodSeconds="5"
                  threads="1"
                  maxSend="1000"
                  maxJoin="1000"
                  queueBytes="50 000 000"/>
    <defaultValues>
      <componentEvent joinIntervalSeconds="60"/>
      <applicationError joinIntervalSeconds="60"/>
      <userAction joinIntervalSeconds="60"/>
    </defaultValues>
  </events>
</root>

