<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

    <extensions>
        <add assembly="Zidium.Core" />
    </extensions>

    <targets>
        <target name="Console" xsi:type="ColoredConsole" layout="${date:format=dd.MM.yyyy HH\:mm\:ss} ${logger} ${level::uppercase=true} ${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="Console" />
    </rules>
</nlog>
