#filters {
    padding-bottom: 10px;
}

#table-logs > tbody > tr.log-properties-row > td {
    border: none !important;
    padding-top: 0px !important;
    padding-left: 35px !important;
}

#table-logs > tbody > tr .log-message {
    cursor: pointer;
}

.link-context {
}

.link-show-previous-records {
}

.link-show-next-records {
}

#table-logs td.cell-new {
    background-color: #999;
}

#table-logs td.cell-mark {
    padding-left: 0;
    padding-right: 0;
}

#table-logs #col-cell-mark {
    width: 3px;
}

#table-logs #col-level-icon {
    width: 30px;
}

#table-logs > tbody > tr > td {
    border-top: none;
    padding-top: 3px;
}

#loader {
    position: fixed;
    z-index: 999;
}

#loader-search {
    position: fixed;
    z-index: 999;
}

.log-message-fatal {
    font-weight: bold;
}

.text-highlight {
    background-color: gold;
}

#submenu-title-levels {
    font-size: 14px;
}

#log-header-container-mini {
    display: none;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

#edit-log-levels {
    margin-left: 15px;
}

#log-header-minimize {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #ccc;
    padding-left: 2px;
    padding-right: 0;
    text-align: center;
    font-size: 20px;
    padding-top: 3px;
    margin-top: 25px;
}

#log-header-restore {
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #ccc;
    padding-left: 2px;
    padding-right: 0;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}