<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <connectionStrings>
        <!-- MsSql WORK Server -->
        <add name="DbContextWork" providerName="System.Data.SqlClient" 
             connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Zidium.OpenSource.Work;" />

        <!-- MsSql TEST Remote -->
        <add name="DbContextTest" providerName="System.Data.SqlClient" 
             connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Zidium.OpenSource.Test;" />

        <!-- MsSql TEST LOCAL -->
        <add name="DbContextLocal" providerName="System.Data.SqlClient" 
             connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Zidium.OpenSource.Test;" />

    </connectionStrings>

    <appSettings>
        <add key="UseLocalDispatcher" value="true" />
    </appSettings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
            <parameters>
                <parameter value="mssqllocaldb" />
            </parameters>
        </defaultConnectionFactory>
    </entityFramework>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        </assemblyBinding>
    </runtime>

</configuration>
