@{
    ViewBag.Title = "Smart blocks - Ajax-форма";
}

<style>
    #container {
        background-color: azure;
        border: 1px solid lightblue;
        border-radius: 4px;
        padding: 10px;
        width: 500px;
    }
</style>

<h1>
    @ViewBag.Title
</h1>

<p>
    Пример формы, которая делает post-запрос через Ajax.
</p>
<p>
    Если валидация модели не прошла (Name == 1), то вернётся обновлённая модель.
</p>
<p>
    Если возникла любая ошибка (Name == 2), то сработает событие onError.
</p>
<p>
    Если всё ок, то сработает событие onAction, в него передаётся json с результатом. 
    По нему можно, например, закрыть диалоговое окно или перейти на другую страницу.
</p>
<p>
    Синяя область &mdash; весь контейнер.<br/>
    Жёлтая область &mdash; форма.<br/>
    При выполнении запроса обновляется и контейнер, и форма (так как она внутри контейнера).
</p>

<div class="smart-block" data-smart-block-action="onAction" data-smart-block-on-error="onError" id="container">
    @Html.Partial("Example1Partial")
</div>

<script>
    function onAction(data) {
        dialogs.info("Result: " + data);
    }

    function onError(message) {
        dialogs.error("Error: " + message);
    }
</script>