@using Zidium.UserAccount
@model Zidium.UserAccount.Models.ShowAccountModel

@{
    ViewBag.Title = "Аккаунт";
    ViewBag.ActiveMenuItems = "Manage,Account";
}

@Html.Partial("_PageTitle")

<div class="bottom20px">
    <p>
        <span class="simple-text-header">Имя аккаунта: </span>
        <span class="simple-text-value">@Model.AccountName</span>
    </p>

    @if (UserHelper.CurrentUser.CanEditCommonData())
    {
        <p>
            <span class="simple-text-header">Секретный ключ API: </span>
            <span class="simple-text-value collapse" id="apiSecretKey">@Model.SecretKey</span>
            <a href="#" class="btn btn-default" id="showApiKey">Показать</a>
            <a href="#" class="btn btn-default collapse space-left" id="hideApiKey">Скрыть</a>
        </p>
    }
</div>

<hr />

@if (UserHelper.CurrentUser.CanEditCommonData())
{
    <script>
        $(function () {

            // показываем ключ API
            $("#showApiKey, #hideApiKey")
                .click(function (event) {
                    event.preventDefault();
                    $("#apiSecretKey").toggle();
                    $("#showApiKey").toggle();
                    $("#hideApiKey").toggle();
                });
        })
    </script>
}