@using Zidium.UserAccount.Helpers
@model Zidium.UserAccount.Models.Defects.AddDefectModel

@{
    ViewBag.Title = "Создание дефекта";
    ViewBag.ActiveMenuItems = "Defects";
}

<style>
    #form-add-defect .smart-col-labels {
        min-width: 110px;
    }

    #Notes {
        min-height: 100px;
    }
</style>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal smart-block-form", id = "form-add-defect" }))
{
    <div class="smart-container bottom20px">
        @Html.MyValidationSummary()

        @Html.EditorFor(m => m.Title, "SmartEdit")
        @Html.EditorFor(m => m.ResponsibleUserId, "SmartEdit")
        @Html.EditorFor(m => m.Notes, "SmartEdit")

    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary smart-button smart-block-button" data-smart-button-loader="blue">Создать</button>
        <button type="button" class="btn btn-default smart-button" data-dismiss="modal">Отмена</button>
    </div>
}