<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

    <extensions>
        <add assembly="Zidium.Core" />
    </extensions>

    <targets>
        <target name="Zidium" xsi:type="Zidium" />
        <target name="File" xsi:type="File"
                encoding="utf-8"
                layout="${date:format=yyyy-MM-dd HH_mm_ss} ${logger} ${message}"
                fileName="${basedir}\Logs_\ZidiumDispatcherService.1.0_${date:format=yyyy-MM-dd}.log"
                archiveFileName="${basedir}\Logs_\{#}.log"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="30" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="Zidium" />
        <logger name="*" minlevel="Off" writeTo="File" />
    </rules>
</nlog>
