<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <connectionStrings>
        <add name="DbContext" providerName="System.Data.SqlClient"
             connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Zidium.OpenSource.Work;" />

    </connectionStrings>

    <appSettings>
        <add key="DebugMode" value="true" />
        <add key="AccountSecretKey" value="7031880B-CCCD-4A05-A4DE-6AFADCD7BE6F"/>
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" enableVersionHeader="false" maxRequestLength="20000" executionTimeout="600" />
    </system.web>

    <system.webServer>
        <handlers>
            <add name="Handler" verb="*" path="*" type="Zidium.DispatcherHttpService.DispatcherHandler" resourceType="Unspecified" />
        </handlers>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>

    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.9.7.0" newVersion="6.9.7.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
