<noscript>
    <div class="container-fluid javascript-check-div">
        <div class="alert alert-danger">
            <h4>JavaScript отключен!</h4>
            <p>
                Для работы сайта необходимо включить JavaScript.
            </p>
            <p>
                Вот
                <a class="alert-link" href="http://www.enable-javascript.com/ru/" target="_blank">инструкции, как включить JavaScript в вашем браузере</a>.
            </p>
        </div>
    </div>
    <style>
        .javascript-required {
            display: none;
        }
    </style>
</noscript>
