@using Zidium.UserAccount.Helpers 

@{
    var currentUser = UserHelper.CurrentUser(Context);
}

@if (Context.User?.Identity != null && currentUser != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink(currentUser.Name, "Show", "Users", new { id = currentUser.Id }, new { @class = "topLogoRightLink" })
        <a title="Выход" class="topLogoRightLink" href="javascript:document.getElementById('logoutForm').submit()">
            Выход
            @*<img style="height: 16px;" src="/Content/Icons/log_off.png" />*@
        </a>
    }
}
else
{
    @Html.ActionLink("Войти", "Logon", "Account", null, new { @class = "topLogoRightLink" })
}