@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models.UnitTests

@model ShowSettingsCustomModel

@{
    string periodText = GuiHelper.TimeSpanAsString(Model.ActualTime);
}

<div class="col-md-8 tiles-column">
    <div class="tiles-box" style="display: flex; flex-direction:column;">
        <div style="flex: 1 0 auto;">
            <div class="tiles-box-header1">Пользовательская проверка</div>
            <div class="tiles-box-content">
                <p>
                    <span class="simple-text-header">Время актуальности</span>
                    <br />
                    <span class="simple-text-value">@periodText</span>
                </p>
                <p>
                    <span class="simple-text-header">Если нет сигнала</span>
                    <br />
                    <span class="simple-text-value">@Model.NoSignalColor</span>
                </p>
                <p>
                    <span class="simple-text-header">Тип проверки</span>
                    <br />
                    <a href="@Url.Action("Show", "UnitTestTypes", new {id = Model.TypeId})">@Model.TypeDisplayName</a>
                </p>
            </div>
        </div>
    </div>
</div>