@using Zidium.Core.AccountsDb
@using Zidium.Core.Api
@using Zidium.Core.Common.Helpers
@using Zidium.UserAccount.Helpers
@using Zidium.UserAccount.Models
@using Zidium.UserAccount.Models.UnitTests
@using Zidium.UserAccount.Models.Controls;
@model ShowSettingsVirusTotalModel

<div class="col-md-8 tiles-column">
    <div class="tiles-box" style="display: flex; flex-direction:column;">
        <div style="flex: 1 0 auto;">
            <div class="tiles-box-header1">Настройки VirusTotal</div>
            <div class="tiles-box-content">
                <p>
                    <span class="simple-text-header">Url ресурса</span>
                    <br />
                    <span class="simple-text-value">@Model.Url</span>
                </p>               
                <p>
                    <span class="simple-text-header">ApiKey</span>
                    <br />
                    <span class="simple-text-value">@Model.ApiKey</span>
                </p>                
            </div>
        </div>
    </div>
</div>