<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <variable name="logPath" value="${specialfolder:folder=LocalApplicationData}\Zidium\Logs\Agent.Single.Tests"></variable>

  <targets>
    <target name="Console" xsi:type="ColoredConsole" layout="${date:format=dd.MM.yyyy HH\:mm\:ss} ${logger} ${level::uppercase=true} ${message}" />
    <target name="File" xsi:type="File"
                encoding="utf-8"
                layout="${date:format=yyyy-MM-dd HH_mm_ss} ${logger} ${level::uppercase=true} ${message}"
                fileName="${logPath}\ZidiumAgentSingleTests_${date:format=yyyy-MM-dd}.log"
                archiveFileName="${logPath}\{#}.log"
                archiveDateFormat="yyyy-MM-dd"
                archiveNumbering="Date"
                archiveEvery="Day"
                maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Console" />
    <logger name="*" minlevel="Trace" writeTo="File" />
  </rules>
</nlog>
