@{
    ViewBag.Title = "Пример плиточной разметки";
}

<p class="submenu-title">@ViewBag.Title</p>
<br />

<p>Полоса 1</p>
<div class="row tiles-row">
    <div class="col-md-2 tiles-column">
        <div class="tiles-box">
            <div class="tiles-box-header1">Заголовок 1</div>
            <div class="tiles-box-content">
                <p>text line 1</p>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 tiles-column">
        <div class="tiles-box">
            <div class="tiles-box-header1">Заголовок 2</div>
            <div class="tiles-box-content">
                <p>text line 1</p>
                <p>text line 2</p>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 tiles-column">
        <div class="tiles-box">
            <div class="tiles-box-header1">Заголовок 3</div>
            <div class="tiles-box-content">
                <p>text line 1</p>
                <p>text line 2</p>
                <p>text line 3</p>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 tiles-column">
        <div class="tiles-box">
            <div class="tiles-box-header1">Заголовок 4</div>
            <div class="tiles-box-content">
                <p>text line 1</p>
                <p>text line 2</p>
                <p>text line 3</p>
                <p>text line 4</p>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<p></p>
<p>Полоса 2</p>
<div class="row tiles-row">
    <div class="col-md-4 tiles-column">
        <div class="tiles-box">
            <div class="tiles-box-content">
                <p>text line 1</p>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 tiles-column">
            <div class="tiles-box">
                <div class="tiles-box-content">
                    <p>text line 1</p>
                    <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <div class="tiles-box">
                <div class="tiles-box-content">
                    <p>text line 1</p>
                    <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <div class="tiles-box">
                <div class="tiles-box-content">
                    <p>text line 1</p>
                    <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>     
    </div>
    <div class="col-md-4 tiles-column">
        <div class="tiles-box">
            <div class="tiles-box-content">
                <p>text line 1</p>
                <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 tiles-column">
            <div class="tiles-box">
                <div class="tiles-box-header2">header2</div>
                <div class="tiles-box-content">
                    <p>text line 1</p>
                    <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="tiles-box">
                <div class="tiles-box-header2">header2</div>
                <div class="tiles-box-content">
                    <p>text line 1</p>
                    <p>text line 2</p>
                    <div class="btn-group" role="group" aria-label="..." style="margin-top: 20px;">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-off" aria-hidden="true" style="margin-right: 10px;"></span>Выключить
                        </button>
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>     
    </div>
</div>



