<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>

    <connectionStrings>
        <!-- MsSql -->
        <!--
        <add name="DbContext" providerName="System.Data.SqlClient"
             connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Zidium.OpenSource.Work;" />
        -->

        <!-- PostgreSql -->
        
        <add name="DbContext"
             providerName="Npgsql"
             connectionString="Host=localhost;Port=5432;Database=Zidium.OpenSource.Work;Username=postgres;Password=12345;" />
        

    </connectionStrings>

    <appSettings>
        <add key="DispatcherUrl" value="https://127.0.0.1:20000/" />
        <add key="AccountWebSite" value="https://127.0.0.1:20002/"/>
        <add key="AccountSecretKey" value="7031880B-CCCD-4A05-A4DE-6AFADCD7BE6F"/>

        <add key="ServiceName" value="ZidiumAgent" />
        <add key="ServiceDescription" value="Сервис выполнения периодических заданий для Zidium" />

        <!-- Максимально допустимый период отсутствия сигналов от задач -->
        <add key="MaximumOfflineInterval" value="00:10:00"/>

        <!-- smtp -->
        <add key="SmtpServer" value="localhost" />
        <add key="SmtpPort" value="25" />
        <add key="SmtpLogin" value="" />
        <add key="SmtpPassword" value="" />
        <add key="SmtpFrom" value="Zidium" />
        <add key="SmtpUseMailKit" value="true" />
        <add key="SmtpUseSsl" value="false" />

        <add key="TelegramBotToken" value=""/>
        <add key="VKontakteAuthToken" value=""/>

    </appSettings>

    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
            <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
            <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
        </providers>
    </entityFramework>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.9.7.0" newVersion="6.9.7.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.2.7.0" newVersion="3.2.7.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
                 description=".Net Framework Data Provider for MySQL"
                 type="MySql.Data.MySqlClient.MySqlClientFactory" />

            <add name="Npgsql Data Provider" invariant="Npgsql"
                 description="Data Provider for PostgreSQL"
                 type="Npgsql.NpgsqlFactory, Npgsql" />
        </DbProviderFactories>
    </system.data>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

</configuration>
