<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add key="DispatcherUrl" value="http://127.0.0.1:20000" xdt:Locator="Match(key)" xdt:Transform="Replace" />
        <add key="ApiUrl" value="http://127.0.0.1:20001" xdt:Locator="Match(key)" xdt:Transform="Replace" />
        <add key="AccountWebSite" value="http://127.0.01:20002" xdt:Locator="Match(key)" xdt:Transform="Replace" />
        <add key="DebugMode" xdt:Locator="Match(key)" xdt:Transform="Remove" />
        <add key="UseLocalDispatcher" xdt:Locator="Match(key)" xdt:Transform="Remove" />

    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>