<?xml version="1.0" encoding="utf-8" ?>
<!-- Подробнее об этом файле: https://zidium.net/wiki/api/dot-net/zidium-xml -->

<root>
    <!-- Параметры доступа -->
    <!-- url - Адрес сервиса -->
    <!-- secretKey - Секретный ключ аккаунта -->
    <!-- waitOnErrorSeconds - Интервал перед следующей попыткой отправки данных в случае ошибки, в секундах -->
    <!-- disable - Полное отключение всех функций -->
    <access url=""
            secretKey=""
            waitOnErrorSeconds="60"
            disable="false" />

    <!-- Id компонента по умолчанию -->
    <!-- Его получает метод GetDefaultComponentControl() -->
    <defaultComponent id="" />

    <!-- Параметры работы с логом -->
    <logs>

        <!-- Параметры web-лога -->
        <!-- disable - Полное отключение web-лога -->
        <!-- threads - Количество внутренних потоков, которые будут отправлять данные -->
        <!-- batchBytes - Примерный размер одного пакета отправки данных, в байтах -->
        <!-- sendPeriodSeconds - Интервал отправки данных, в секундах -->
        <!-- reloadConfigsPeriodSeconds - Интервал обновления настроек web-лога из личного кабинета, в секундах -->
        <!-- queueBytes - Максимальный размер очереди web-лога, в байтах -->
        <webLog disable="false"
                threads="3"
                batchBytes="10 240"
                sendPeriodSeconds="5"
                reloadConfigsPeriodSeconds="300"
                queueBytes="104 857 600" />

        <!-- Параметры внутреннего лога самого Api -->
        <!-- disable - Полное отключение внутреннего лога -->
        <!-- encoding - Кодировка файла -->
        <!-- filePath - Шаблон пути и имени файла -->
        <!-- minLevel - Минимальная важность записи, требуемая для попадания в лог -->
        <!-- deleteOldFileOnStartup - Перезаписывать текущий файл или добавлять данные к нему -->
        <internalLog disable="false"
                 encoding="utf-8"
                 filePath="#appDir/Logs/#date/#appName_Internal_#date_#hour.txt"
                 minLevel="warning"
                 deleteOldFileOnStartup="false" />

        <!-- Автоматическое созданий событий-ошибок по логу -->
        <!-- Disable - отключение автоматического создания -->
        <autoCreateEvents disable="false" />
    </logs>

    <!-- Параметры работы с событиями -->
    <events>
        <!-- Параметры менеджера событий -->
        <!-- disable - Полное отключение отправки событий -->
        <!-- sendPeriodSeconds - Период отправки событий, в секундах -->
        <!-- threads - Количество внутренних потоков, которые будут отправлять данные -->
        <!-- maxSend - Максимальное количество новых событий, обрабатываемых за одну итерацию отправки -->
        <!-- maxJoin - Максимальное количество склееных событий, обрабатываемых за одну итерацию отправки -->
        <!-- queueBytes - Максимальный размер очереди событий, в байтах -->
        <eventManager disable="false"
                      sendPeriodSeconds="5"
                      threads="1"
                      maxSend="1000"
                      maxJoin="1000"
                      queueBytes="104 857 600"/>

        <!-- Значения по умолчанию для свойств новых событий -->
        <defaultValues>
            <!-- Событие компонента -->
            <!-- joinIntervalSeconds - Интервал склейки по умолчанию, в секундах -->
            <componentEvent joinIntervalSeconds="300"/>

            <!-- Ошибка -->
            <!-- joinIntervalSeconds - Интервал склейки по умолчанию, в секундах -->
            <applicationError joinIntervalSeconds="300"/>
        </defaultValues>
    </events>
</root>

